<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- Suite -->
<suite name="Suite" parallel="tests">
	<!-- listeners path must be defined in testng.xml -->
	<listeners>
		<listener class-name="TestCases.listners"></listener>
		<listener class-name="TestCases.ExtentReportsListeners"></listener>
	</listeners>
	<!-- Test -->
	<test name="Login testing">
		<classes>
			<class name="TestCases.HomePage" />
		</classes>
	</test>
	<test name="Validating NavLink">
		<classes>
			<class name="TestCases.validateNavLink" />
		</classes>
	</test>
	<test name="Validating text in the Homepage">
		<classes>
			<class name="TestCases.validateText" />
		</classes>
	</test>
</suite> 
